<% content_for :title do %>About<% end %>
<h3>About Siannas Chris</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolore, obcaecati nisi asperiores commodi impedit et numquam quasi ipsam aliquid, nesciunt sed animi vero accusantium voluptatem. Provident, maxime. Reiciendis, culpa.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quia distinctio accusamus illo aut atque sapiente beatae fuga dolores sint rem provident necessitatibus, ut dicta modi. Perferendis fugit quas earum.</p>