<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, porro repudiandae repellendus, inventore possimus odio laudantium qui voluptate, architecto nostrum! Repudiandae laborum consequuntur dicta quasi sed eaque quos repellat?</p>
